THE_project/Genome_Realignment_Based_on_Variants/data/


*.fa
*.fna

*.vcf
*.bcf

*.sam
*.bam

*.fastq

./THE_project/Genome_Realignment_Based_on_Variants/data/GRCh38_full_analysis_set_plus_decoy_hla.fa.bwt
./THE_project/Genome_Realignment_Based_on_Variants/data/GRCh38_full_analysis_set_plus_decoy_hla.fa.sa
./THE_project/Genome_Realignment_Based_on_Variants/data/ori.vcf
./THE_project/Genome_Realignment_Based_on_Variants/data/GRCh38_full_analysis_set_plus_decoy_hla.fa.pac
./THE_project/Genome_Realignment_Based_on_Variants/data/GRCh38_full_analysis_set_plus_decoy_hla.fa
./THE_project/Genome_Realignment_Based_on_Variants/data/mem_SRR13269630.sam
./THE_project/Genome_Realignment_Based_on_Variants/data/GRCh38_full_analysis_set_plus_decoy_hla.fa.bwt
./THE_project/Genome_Realignment_Based_on_Variants/data/GRCh38_full_analysis_set_plus_decoy_hla.fa.sa
./THE_project/Genome_Realignment_Based_on_Variants/data/ori.vcf
./THE_project/Genome_Realignment_Based_on_Variants/data/GRCh38_full_analysis_set_plus_decoy_hla.fa.pac
./THE_project/Genome_Realignment_Based_on_Variants/data/GRCh38_full_analysis_set_plus_decoy_hla.fa
