THE_project/Genome_Realignment_Based_on_Variants/data/SRR13269626_1.fastq.gz
THE_project/Genome_Realignment_Based_on_Variants/data/ecoli-genome.fa
THE_project/Genome_Realignment_Based_on_Variants/data/GRCh38_latest_clinvar.vcf
THE_project/Genome_Realignment_Based_on_Variants/data/GRCh38_latest_clinvar.vcf.gz
THE_project/Genome_Realignment_Based_on_Variants/data/plant.1.1.genomic.fna
THE_project/Genome_Realignment_Based_on_Variants/data/invertebrate.1.1.genomic.fna
THE_project/Genome_Realignment_Based_on_Variants/data/grbvOut_3.merged.sorted.sam
THE_project/Genome_Realignment_Based_on_Variants/data/plant.1.1.genomic.fna
THE_project/Genome_Realignment_Based_on_Variants/data/invertebrate.1.1.genomic.fna
THE_project/Genome_Realignment_Based_on_Variants/data/grbvOut_3.merged.sorted.sam
THE_project/Genome_Realignment_Based_on_Variants/data/plant.1.1.genomic.fna
THE_project/Genome_Realignment_Based_on_Variants/data/invertebrate.1.1.genomic.fna
THE_project/Genome_Realignment_Based_on_Variants/data/grbvOut_3.sam.thread0
THE_project/Genome_Realignment_Based_on_Variants/data/generated.kmers
