THE_project/Genome_Realignment_Based_on_Variants/data/SRR13269626_1.fastq.gz
THE_project/Genome_Realignment_Based_on_Variants/data/ecoli-genome.fa
THE_project/Genome_Realignment_Based_on_Variants/data/GRCh38_latest_clinvar.vcf
THE_project/Genome_Realignment_Based_on_Variants/data/GRCh38_latest_clinvar.vcf.gz
